.ani-toup{
    animation-play-state: running;
    animation-name: toup;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes toup {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(10px);
    }
  }